###> IDEs and editors ###
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.scannerwork/

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
phpunit.xml
/coverage
###< symfony/phpunit-bridge ###

##> doctrine/data-fixtures ###
/src/DataFixtures/
##< doctrine/data-fixtures ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
